.dropzone {
  border-radius: 1rem;
  cursor: pointer;
  display: grid;
  place-items: center;

  .dropzone-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;

    .upload-icon {
      width: 2.5rem;
      height: 2.5rem;

      i {
        font-size: 2rem;
        color: var(--primary-color);
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--text-color);
      margin: 0;
    }

    .file-types {
      margin-top: 1rem;
      font-size: 0.8rem;
      color: var(--text-color-secondary);
      opacity: 0.8;
    }
  }
}

.file-list {
  display: grid;
  padding: 0 0.75rem 0.75rem 0.75rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;

  .file-item {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;

    .file-icon-wrapper {
      width: 42px;
      height: 42px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .file-delete-btn {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.75rem;
      transition: all 0.2s ease;
      align-self: flex-end;

      i {
        font-size: 1rem;
      }
    }
  }
}

.pulse-animation {
  animation: pulse-animation 1.5s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
    border-color: color-mix(in srgb, var(--p-primary-color) 70%, transparent);
  }
  50% {
    box-shadow: 0 0 0 8px rgba(59, 130, 246, 0);
    border-color: color-mix(in srgb, var(--p-primary-color) 0%, transparent);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    border-color: color-mix(in srgb, var(--p-primary-color) 70%, transparent);
  }
}
