<article class="flex flex-col w-full gap-4 max-h-full h-full">
  <div class="flex w-full gap-4">
    <svi-metric-card
      class="flex-1"
      [title]="'Análisis Requeridos'"
      [value]="totalRequiredCount().toString()"
      [icon]="'fa-duotone fa-flask-vial text-blue-600 text-4xl'"
    ></svi-metric-card>
    <svi-metric-card
      class="flex-1"
      [title]="'En Proceso'"
      [value]="(inProgressCount() || 0).toString()"
      [icon]="'fa-duotone fa-vials text-orange-600 text-4xl'"
    ></svi-metric-card>
  </div>

  <div class="flex w-full gap-4">
    <svi-metric-card
      class="flex-1"
      [title]="'Cuarteos'"
      [value]="quarteringsCount().toString()"
      [icon]="'fa-duotone fa-boxes text-green-600 text-4xl'"
    ></svi-metric-card>

    <svi-metric-card
      class="flex-1"
      [title]="'Progreso'"
      [value]="getAnalysisProgress() + '%'"
      [icon]="'fa-duotone fa-chart-line text-purple-600 text-4xl'"
    ></svi-metric-card>
  </div>
</article>
