<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
  <div class="flex flex-column gap-1 align-items-end">
    <label class="font-medium">Código de muestra</label>
    <span class="text-sm">{{ sampleCode() }}</span>
  </div>
  <svi-sample-weight
    [weight]="weight()"
    [weightControl]="weightControl"
    [disableWeight]="!allowManualWeight()"
    [readWeightDisabled]="isReadingWeight()"
    [disableTare]="true"
    (onReadWeight)="onReadWeight()"
  ></svi-sample-weight>
  <div class="flex justify-content-end gap-3 mt-3">
    <svi-button type="button" severity="secondary" [icon]="ICONS.CANCEL" (click)="onCancel()" label="Cancelar"></svi-button>
    <svi-button type="submit" severity="primary" [icon]="ICONS.SAVE" [disabled]="isSubmitDisabled" label="Guardar"></svi-button>
  </div>
</form>
