@SV-Development:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghpoUrkg2mojrigrXp5ixrS5B8erdsj9ZJ3x0MA3EXp5Rx5B8erdsj9ZJ3x0MA3


@awesome.me:registry=https/npm.fontawesome.com/
@fortawesome:registry=https/npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CE8C1DED-CD67-4189331-C714DA9BB08C


registry=http//registry.npmjs.org/
legacy-peer-deps=tru
# always-auth=true

@awesome.me:registry=https/npm.fontawesome.com/
@fortawesome:registry=https/npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CE8C1DED-CD67-49-9331-C714DA9BB08C

registry=http//registry.npmjs.org/
legacy-peer-deps=tru
# always-auth=true

@awesome.me:registry=https/npm.fontawesome.com/
@fortawesome:registry=https/npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CE8C1DED-CD67-4189-9331-C714DA9BB08C
