# # @SV-Development:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=YOUR_TOKEN_HERE


# @awesome.me:registry=https://npm.fontawesome.com/
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=CE8C1DED-CD67-4189-9331-C714DA9BB08C


# registry=https://registry.npmjs.org/
# legacy-peer-deps=true
# always-auth=true

# @awesome.me:registry=https://npm.fontawesome.com/
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=CE8C1DED-CD67-4189-9331-C714DA9BB08C

# registry=https://registry.npmjs.org/
# legacy-peer-deps=true
# always-auth=true

# @awesome.me:registry=https://npm.fontawesome.com/
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=CE8C1DED-CD67-4189-9331-C714DA9BB08C
