:host {
  display: block;
  width: 100%;
}

input {
  &[type="text"],
  &[type="number"] {
    font-family: inherit;
    
    &::placeholder {
      color: var(--text-color-secondary);
      font-size: 0.875rem;
    }
  }
}

:host-context(.p-float-label) {
  .p-float-label {
    label {
      font-weight: 500;
    }
  }
} 