<form class="filters-grid flex flex-wrap gap-3 align-items-end" [formGroup]="filtersForm">
  <div class="filter-field flex-1 min-w-12rem">
    <svi-date-piker formControlName="date" label="Fecha" dateFormat="yy-mm-dd" [showClear]="true"></svi-date-piker>
  </div>

  <div class="filter-field flex-1 min-w-12rem">
    <svi-float-input
      formControlName="search"
      label="Búsqueda"
      placeholder="Consecutivo, mina..."
    ></svi-float-input>
  </div>

  <div class="filter-field flex-1 min-w-12rem">
    <svi-multiselect
      formControlName="status"
      label="Estados de orden"
      [options]="statusOptions"
      optionLabel="label"
      optionValue="value"
      [maxSelectedLabels]="5"
    ></svi-multiselect>
  </div>
</form>
