:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.text-muted {
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.block {
  display: block;
}

.mt-1 {
  margin-top: 0.5rem;
}

.pi {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.mr-1 {
  margin-right: 0.5rem;
} 