<svi-scale-card
  [icon]="ICONS.DRIVER"
  [title]="driver().name"
  [subtitle]="driver().documentNumber"
  [statusLabel]="statusLabel()"
  [statusType]="statusType()"
  [actionsClass]="'scale-card__actions--end w-full gap-2 flex-wrap md:flex-nowrap'"
>
  <ng-container card-actions>
    <div class="w-full flex justify-content-between align-items-center gap-2 flex-wrap md:flex-nowrap">
      <div class="flex gap-2 flex-wrap">
        <p-menu #docsMenu [model]="documentMenuItems()" [popup]="true" appendTo="body"></p-menu>

        <svi-card-button
          label="Ver documentos"
          [icon]="ICONS.DOCUMENT"
          [severity]="EActionSeverity.VIEW"
          size="small"
          [styleClass]="'w-auto'"
          [disabled]="!hasAnyDocument()"
          (clicked)="docsMenu.toggle($event)"
          [permission]="{ path: path(), action: ScaleActions.VER_CONDUCTORES, fallback: 'disable' }"
        ></svi-card-button>
      </div>

      <div class="flex gap-2 flex-wrap">
        @if (driver().isActive) {
          <svi-card-button
            label="Eliminar"
            [icon]="ICONS.INACTIVATE"
            [severity]="EActionSeverity.DEACTIVATE"
            (clicked)="handleDeactivate()"
            [permission]="{ path: path(), action: ScaleActions.INACTIVAR_CONDUCTOR }"
          ></svi-card-button>
        } @else {
          <svi-card-button
            label="Activar"
            [icon]="ICONS.ACTIVATE"
            [severity]="EActionSeverity.ACTIVATE"
            (clicked)="handleActivate()"
            [permission]="{ path: path(), action: ScaleActions.ACTIVAR_CONDUCTOR }"
          ></svi-card-button>
        }
        <svi-card-button
          label="Editar"
          [icon]="ICONS.PENCIL"
          [severity]="EActionSeverity.EDIT"
          (clicked)="handleEdit()"
          [permission]="{ path: path(), action: ScaleActions.ACTUALIZAR_CONDUCTOR }"
        ></svi-card-button>
      </div>
    </div>
  </ng-container>
</svi-scale-card>
