.layout-topbar-indigo {
    --topbar-bg: var(--primary-color);
    --topbar-start-bg: var(--primary-color);
    --topbar-menu-button-bg: white;
    --topbar-menu-button-hover-bg: var(--primary-color);
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
