:host {
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .title {
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0;
      color: var(--text-color);
    }
  }
}
