<svi-mineral-send-dump
    [viewMode]="viewMode()"
    [editingOrder]="editingOrder()"
    [orders]="orders()"
    [ordersMeta]="ordersMeta()"
    [ordersLoading]="ordersLoading()"
    (createOrderClick)="onCreateOrderClick()"
    (backToList)="onBackToList()"
    (editOrder)="onEditOrder($event)"
    (cancelOrder)="onCancelOrder($event)"
    (updateOrder)="onUpdateOrder($event)"
    (pageChange)="onPageChange()"
    (searchChange)="onSearchChange($event)"
    (statusChange)="onStatusChange($event)"
    [mines]="mines()"
    [drivers]="drivers()"
    [vehicles]="vehicles()"
    [vehicleTypes]="vehicleTypes()"
    [materialTypes]="materialTypes()"
    [documentTypes]="documentTypes()"
    (searchVehicle)="searchVehicle($event)"
    [vehicleSearchResult]="vehicleSearchResult()"
    (searchDriver)="searchDriver($event)"
    [driverSearchResult]="driverSearchResult()"
    (searchObserver)="searchObserver($event)"
    [observerSearchResult]="observerSearchResult()"
    (createVehicle)="createVehicle($event)"
    (createDriver)="createDriver($event)"
    (updateDriverDocuments)="updateDriverDocuments($event)"
    (updateVehicleDocuments)="updateVehicleDocuments($event)"
    (createObserver)="createObserver($event)"
    (updateObserverDocuments)="updateObserverDocuments($event)"
    (clearVehicle)="clearVehicle()"
    (clearDriver)="clearDriver()"
    (clearObserver)="clearObserver()"
    (confirmSend)="finishSend($event)"
/>